<app-header title="Card"/>

<ion-content [fullscreen]="true">
  <ion-card mode="ios">
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item color="primary">
      <ion-icon slot="start" name="pin-outline"></ion-icon>
      <ion-label>Marcadro</ion-label>
    </ion-item>

    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos fugiat provident suscipit saepe dolores? Debitis saepe, et iste explicabo eius quidem dolore nemo labore? Hic placeat maiores beatae quia recusandae.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="https://www.debate.com.mx/__export/1685029461255/sites/debate/img/2023/05/25/metal-gear-solid-snake-eater_x1x_x1x.jpg_1902800913.jpg" alt="">
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos fugiat provident suscipit saepe dolores? Debitis saepe, et iste explicabo eius quidem dolore nemo labore? Hic placeat maiores beatae quia recusandae.
    </ion-card-content>
  </ion-card>
</ion-content>
